<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
    <add key="greaterWins" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournament" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournament;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlConnection"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>