<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TournamentTracker"/>
    <add key="greaterWins" value="0"/>
    <add key="senderEmail" value="admin@fredjames.co.uk"/>
    <add key="senderDisplayName" value="Fred James"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournament" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournament;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlConnection"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Fred" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>